workflows/shorts-automation.template.json
{
  "name": "AI Shorts Automation Template",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        200,
        340
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "topic",
              "value": "automatizacion, IA y productividad para negocios digitales"
            },
            {
              "name": "cta",
              "value": "Visita el portfolio o pide una automatizacion a medida"
            },
            {
              "name": "duration_seconds",
              "value": "15"
            },
            {
              "name": "video_style",
              "value": "tecnologico, claro, directo"
            },
            {
              "name": "language",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "id": "set-topic",
      "name": "Set Topic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "command": "rm -rf /tmp-output && mkdir -p /tmp-output/clips"
      },
      "id": "prepare-workspace",
      "name": "Prepare Workspace",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        740,
        260
      ]
    },
    {
      "parameters": {
        "command": "=node /app/scripts/generate-script.js /tmp-output/script.json \"{{$json[\"topic\"]}}\" \"{{$json[\"duration_seconds\"]}}\" \"{{$json[\"cta\"]}}\" \"{{$json[\"video_style\"]}}\" \"{{$json[\"language\"]}}\""
      },
      "id": "generate-script",
      "name": "Generate Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {
        "command": "node /app/scripts/generate-voice.js /tmp-output/script.json /tmp-output/narration.wav"
      },
      "id": "generate-voice",
      "name": "Generate Voice",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1300,
        260
      ]
    },
    {
      "parameters": {
        "command": "node /app/scripts/fetch-pexels.js /tmp-output/script.json /tmp-output/clips"
      },
      "id": "fetch-pexels",
      "name": "Fetch Pexels",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1580,
        260
      ]
    },
    {
      "parameters": {
        "command": "bash /app/scripts/build-short.sh /tmp-output/final.mp4 /tmp-output/narration.wav /tmp-output/clips"
      },
      "id": "build-video",
      "name": "Build Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1860,
        260
      ]
    },
    {
      "parameters": {
        "command": "node /app/scripts/upload-youtube.js /tmp-output/final.mp4"
      },
      "id": "youtube-upload",
      "name": "YouTube Upload",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2140,
        260
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Topic": {
      "main": [
        [
          {
            "node": "Prepare Workspace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Workspace": {
      "main": [
        [
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script": {
      "main": [
        [
          {
            "node": "Generate Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice": {
      "main": [
        [
          {
            "node": "Fetch Pexels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pexels": {
      "main": [
        [
          {
            "node": "Build Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Video": {
      "main": [
        [
          {
            "node": "YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5fc91b0d-b1c0-4a18-96e0-botdevideos0001",
  "meta": {
    "template": true,
    "description": "Workflow base compatible con n8n 0.222.0 para generar y subir un short automatizado."
  },
  "tags": []
}
