workflows/shorts-automation.template.json
{
  "name": "AI Shorts Automation Template",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "template": true,
    "description": "Workflow base para generar un short con OpenAI, ElevenLabs, Pexels, FFmpeg y subida automatica a YouTube."
  },
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      }
    },
    {
      "id": "set-topic",
      "name": "Set Topic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "topic",
              "value": "automatizacion, IA y productividad para negocios digitales"
            },
            {
              "name": "cta",
              "value": "Visita el portfolio o pide una automatizacion a medida"
            },
            {
              "name": "duration_seconds",
              "value": "25"
            },
            {
              "name": "video_style",
              "value": "tecnologico, claro, directo"
            },
            {
              "name": "language",
              "value": "es"
            }
          ]
        }
      }
    },
    {
      "id": "prepare-workspace",
      "name": "Prepare Workspace",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        720,
        300
      ],
      "parameters": {
        "command": "rm -rf /tmp-output && mkdir -p /tmp-output/clips"
      }
    },
    {
      "id": "generate-script",
      "name": "Generate Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        980,
        300
      ],
      "parameters": {
        "command": "=node /app/scripts/generate-script.js /tmp-output/script.json \"{{$json.topic}}\" \"{{$json.duration_seconds}}\" \"{{$json.cta}}\" \"{{$json.video_style}}\" \"{{$json.language}}\""
      }
    },
    {
      "id": "generate-voice",
      "name": "Generate Voice",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1240,
        300
      ],
      "parameters": {
        "command": "node /app/scripts/generate-voice.js /tmp-output/script.json /tmp-output/narration.mp3"
      }
    },
    {
      "id": "fetch-pexels",
      "name": "Fetch Pexels",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "command": "node /app/scripts/fetch-pexels.js /tmp-output/script.json /tmp-output/clips"
      }
    },
    {
      "id": "build-video",
      "name": "Build Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1760,
        300
      ],
      "parameters": {
        "command": "bash /app/scripts/build-short.sh /tmp-output/final.mp4 /tmp-output/narration.mp3 /tmp-output/clips"
      }
    },
    {
      "id": "youtube-upload",
      "name": "YouTube Upload",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2020,
        300
      ],
      "parameters": {
        "command": "node /app/scripts/upload-youtube.js /tmp-output/final.mp4"
      }
    },
    {
      "id": "tiktok-upload",
      "name": "TikTok Upload Placeholder",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2020,
        460
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Topic": {
      "main": [
        [
          {
            "node": "Prepare Workspace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Workspace": {
      "main": [
        [
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script": {
      "main": [
        [
          {
            "node": "Generate Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice": {
      "main": [
        [
          {
            "node": "Fetch Pexels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pexels": {
      "main": [
        [
          {
            "node": "Build Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Video": {
      "main": [
        [
          {
            "node": "YouTube Upload",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok Upload Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
